<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Project Name', 'Present Skill Rating', 'Rated Skill Rating'],
        {% for i in project %}
            {% for j in new_proj_skill %}
                {% if i.proj_id == j.proj_id %}
                     ['{{i.proj_name}}', {{j.proj_prsent_skill_rating}}, {{j.proj_rated_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'project wise distribution of skills',
            subtitle: '',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      </script>
    <script>
 google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {
        var data = google.visualization.arrayToDataTable([
        ['Employee Name', 'Final Rating'],
        {% for i in graph_employee %}
            {% for j in graph_emp_skill %}
                {% if i.emp_id == j.emp_id %}
                     ['{{i.emp_name}}', {{j.final_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'employee wise distribution of skills',
            subtitle: '',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material1'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
<script src="../static/customchart.js"></script>
</head>
<body>
<table>
    <tr>
        <td>
            <div id="chartContainer1" style="height: 360px; width: 100%;"></div>
        </td>
            <td>
                <div id="chartContainer2" style="height: 30px; width: 100%;"></div>
            </td>
                <td>
                    <div id="chartContainer3" style="height: 360px; width: 100%;"></div>
                </td>
                    <td>
                        <div id="chartContainer4" style="height: 360px; width: 100%;">
                    </td>
                        <td>
                            <div id="chartContainer5" style="height: 360px; width: 100%;"></div>
                        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div id="columnchart_material" style="border: 1px solid #ccc"></div>
        </td>
            <td>
                <div id="columnchart_material1" style="border: 1px solid #ccc"></div>
            </td>
    </tr>
</table>
</body>
</html>