<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    /*First Bargraph*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart1);
function drawChart1() {

  var data = google.visualization.arrayToDataTable([
  ['Project Name', 'Present Skill Rating', 'Rated Skill Rating'],
  {% for i in project %}
            {% for j in new_proj_skill %}
                {% if i.proj_id == j.proj_id %}
                     ['{{i.proj_name}}', {{j.proj_prsent_skill_rating}}, {{j.proj_rated_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
  ]);

  var options = {
    chart: {
      title: 'project wise distribution of skills',
      subtitle: '',
    }
  };

  var chart = new google.charts.Bar(document.getElementById('columnchart_material1'));

  chart.draw(data, google.charts.Bar.convertOptions(options));
}


/*Second Bar graph*/

google.charts.load('current', {'packages':['bar']});
google.charts.setOnLoadCallback(drawChart2);

function drawChart2() {
  var data = google.visualization.arrayToDataTable([
  ['Employee Name', 'Final Rating'],
  {% for i in graph_employee %}
            {% for j in graph_emp_skill %}
                {% if i.emp_id == j.emp_id %}
                     ['{{i.emp_name}}', {{j.final_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
  ]);

  var options = {
    chart: {
      title: 'employee wise distribution of skills',
      subtitle: '',
    }
  };

  var chart = new google.charts.Bar(document.getElementById('columnchart_material2'));

  chart.draw(data, google.charts.Bar.convertOptions(options));
}




/*First Gauge*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart3);

function drawChart3() {
  var data = google.visualization.arrayToDataTable([
    ['TotalProjects', 'Value'],
    {% for i in skill %}
    {{i.skill_name}}
        {% for j in proj_skill %}
            {% if i.skill_id == j.skill_id %}
                ['{{i.skill}}',{{j.ptotal}}]
            {% endif %}
        {% endfor %}
{% endfor %}
  ]);
  var options = {
    width: 400, height: 120,
    title:"Total Projects employing this skill",
  };
  var chart = new google.visualization.Gauge(document.getElementById('chart_div1'));
  chart.draw(data, options);
}


/*Second Gauge*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart4);

function drawChart4() {
  var data = google.visualization.arrayToDataTable([
    ['Total Employees employing this skill', 'Value'],
    {% for i in skill %}
    {{i.skill_name}}
        {% for j in emp_skill %}
            {% if i.skill_id == j.skill_id %}
                ['{{i.skill}}',{{j.etotal}}]
            {% endif %}
        {% endfor %}
{% endfor %}
  ]);
  var options = {
    width: 400, height: 120,
    title:"Total Employees employing this skill",
  };
  var chart = new google.visualization.Gauge(document.getElementById('chart_div2'));
  chart.draw(data, options);
}


/*Third Gauge*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart5);

function drawChart5() {
  var data = google.visualization.arrayToDataTable([
    ['Average Employee skill rating', 'Value'],
    {% for i in skill %}
    {{i.skill_name}}
        {% for j in emp_avgskill %}
            {% if i.skill_id == j.skill_id %}
                ['{{i.skill}}',{{j.askill}}]
            {% endif %}
        {% endfor %}
{% endfor %}


  ]);
  var options = {
    width: 400, height: 120,
    title:"Average Employee skill rating",
  };

  var chart = new google.visualization.Gauge(document.getElementById('chart_div3'));
  chart.draw(data, options);
}



/*Fourth Gauge*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart6);

function drawChart6() {
  var data = google.visualization.arrayToDataTable([
    ['Average Project Present Skill Rating', 'Value'],
    {% for i in skill %}
    {{i.skill_name}}
        {% for j in proj_prsent_avgskill %}
            {% if i.skill_id == j.skill_id %}
                ['{{i.skill}}',{{j.proj_prsent_avgskill}}]
            {% endif %}
        {% endfor %}
 {% endfor %}
  ]);
  var options = {
    width: 400, height: 120,
    title:'Average Project Present Skill Rating',
  };
  var chart = new google.visualization.Gauge(document.getElementById('chart_div4'));
  chart.draw(data, options);
}



/*Fifth Gauge*/

google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart7);

function drawChart7() {
  var data = google.visualization.arrayToDataTable([
    ['Average Project Rated Skill Rating', 'Value'],
    {% for i in skill %}
    {{i.skill_name}}
        {% for j in proj_rated_avgskill %}
            {% if i.skill_id == j.skill_id %}
                ['{{i.skill}}',{{j.proj_rated_avgskill}}]
            {% endif %}
        {% endfor %}
    {% endfor %}
  ]);
  var options = {
    width: 400, height: 120,title:'Average Project Rated Skill Rating',
  };
  var chart = new google.visualization.Gauge(document.getElementById('chart_div5'));
  chart.draw(data, options);
}
    </script>
   </head>
   <body>
       <table>
     <tr>
         <td>
             <div id="chart_div1"style="width: 200px; height: 60px;"></div>
         </td>
             <td>
                 <div id="chart_div2"style="width: 200px; height: 60px;"></div>
             </td>
                 <td>
                     <div id="chart_div3"style="width: 200px; height: 60px;"></div>
                 </td>
                     <td>
                         <div id="chart_div4"style="width: 200px; height: 60px;"></div>
                     </td>
                         <td>
                             <div id="chart_div5"style="width: 200px; height: 60px;"></div>
                         </td>
     </tr>
 </table><br>
 <table>
     <tr>
         <td>
            <div id="columnchart_material1" style="width: 800px; height: 500px;"></div>
         </td>
         <td>
            <div id="columnchart_material2" style="width: 800px; height: 500px;"></div>
         </td>
     </tr>
 
</table>
</body>
</html>