<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill dashboard</title>
     <div style="margin-left:0.2%%; height: 5%;">
      <img src="https://media-exp1.licdn.com/dms/image/C510BAQEdUdCiIiDiTQ/company-logo_200_200/0?e=2159024400&v=beta&t=ASmV3FDXKuTfeeBwuIV8wK2hhT2Uko-x1dR5OUs-ZtM" style="width: 9.5%; height: 6%;" style="width: 9.5%;"></img>
      <div style="margin-left:10%; height: 20%;">
        <h4 style="background-color:teal;margin-top: -10%;height: 5%;color: white;font-family: 'Times New Roman', Times, serif;font-size:x-large;padding: 0.5%;">SKILL DASHBOARD</h4>


</head>
<body>
<style>

#skill {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#skill td{
  border: 1px solid #ddd;
  padding: 8px;
}
#skill tr:nth-child(odd){background-color: #f2f2f2;}
#skill tr:hover {background-color: #ddd;}

</style>

<form method="post" style=" text-align:center">
    <h1 style="text-align:center">{{skill_search_form.skill_select.label}}</h1>
    <h1>{{skill_search_form.skill_select}}</h1>
    <input type = "submit" style="width:10%; paddding:2%" >
    </form>
<!--    new_proj_skill-->
<!--    graph_emp_skill-->
    {% if graph_emp_skill %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Project Name', 'Present Skill Rating', 'Rated Skill Rating'],
        {% for i in project %}
            {% for j in new_proj_skill %}
                {% if i.proj_id == j.proj_id %}
                     ['{{i.proj_name}}', {{j.proj_prsent_skill_rating}}, {{j.proj_rated_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'project wise distribution of skills',
            subtitle: '',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      </script>
    <script>
 google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {
        var data = google.visualization.arrayToDataTable([
        ['Employee Name', 'Final Rating'],
        {% for i in graph_employee %}
            {% for j in graph_emp_skill %}
                {% if i.emp_id == j.emp_id %}
                     ['{{i.emp_name}}', {{j.final_rating}}],
                {% endif %}
            {% endfor %}
        {% endfor %}
        ]);

        var options = {
          chart: {
            title: 'employee wise distribution of skills',
            subtitle: '',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material1'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
{% endif %}

{% if new_proj_skill %}

    {% for i in skill %}
        <br><br><br>{{i.skill_name}}<br>
                                     <img src="/static/{{i.skill_image}}" alt="emp-img" height="200" width="190" class="img-rounded"></a></h4>

<table id="skill">
    <tr>
        <th>
          Total Projects employing this skill:
        </th>
        <th>
            Total Employees employing this skill:
        </th>
        <th>
         Average Employee skill rating:
        </th>
        <th>
           Average Project Present Skill Rating:
        </th>
        <th>
            Average Project Rated Skill Rating:
        </th>
    </tr>
    <tr>
        <td>
        {% for j in proj_skill %}
            {% if i.skill_id == j.skill_id %}
                <br>{{j.ptotal}}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for j in emp_skill %}
            {% if i.skill_id == j.skill_id %}
                <br>{{j.etotal}}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for j in emp_avgskill %}
            {% if i.skill_id == j.skill_id %}
                <br>{{j.askill}}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for j in proj_prsent_avgskill %}
            {% if i.skill_id == j.skill_id %}
                <br>{{j.proj_prsent_avgskill}}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for j in proj_rated_avgskill %}
            {% if i.skill_id == j.skill_id %}
                <br>{{j.proj_rated_avgskill}}
            {% endif %}
        {% endfor %}
        </td>
    {% endfor %}
{% endif %}
    </tr>
</table>
     <table class="columns">
            <tr>
<td>
 <div id="columnchart_material" style="width: 800px; height: 500px ;"></div>
</td>
<td>

<div id="columnchart_material1" style="width: 800px; height: 500px;"></div>
</td>
            </tr>
     </table>
</body>
</html>