<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
</head>
<body>
<h4>Details</h4>

     ID : {{employee.emp_id}}<br>
     Name : {{employee.emp_name}}<br>
     ROle : {{employee.emp_role}}<br>
     Experience : {{employee.experience}}<br>

     <h4><a href="{{ url_for('pdash.pdetails',pid = projt.proj_id)}}">Assigned Project : {{projt.proj_name}}</a></h4>

    <h4> SkillSet </h4>

    {% for i in emp_skill %}
    <h3>Skill Name:{{eskill[loop.index0].skill_name}}</h3><br><br>
    Skill Level:{{i.skill_range}} <br><br>
    Project Lead Rating{{i.proj_lead_rating}} <br><br>
    Self Evaluation Rating:{{i.self_eval_rating}} <br><br>
    Experience in this Technology:{{i.experience}} <br><br>
    {% endfor %}

</body>
</html>