<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>

</head>
<body>
    <img src="https://media-exp1.licdn.com/dms/image/C510BAQEdUdCiIiDiTQ/company-logo_200_200/0?e=2159024400&v=beta&t=ASmV3FDXKuTfeeBwuIV8wK2hhT2Uko-x1dR5OUs-ZtM" style="width: 9.5%; height: 8%;"></img>
    <div style="margin-left:10%; height: 20%;">
     <h4 style="background-color:skyblue;margin-top: -10%;padding:0.5%;font-family: 'Times New Roman', Times, serif;">DETAILS</h4>
     ID : {{employee.emp_id}}<br>
    <div style="margin-top:2%;">Name : {{employee.emp_name}}<br></div>
     <div style="margin-left: 50%;margin-top: -4%;">Role : {{employee.emp_role}}<br></div>
     <div style="margin-left: 50%; margin-top: 2%;">Experience : {{employee.experience}}<br></div>
          {% for i in location %}
            {% if i.loc_id == employee.loc_id %}
                <br>Location : {{i.loc_name}}
            {% endif %}
        {% endfor %}
     <h4 style="margin-left:20.5%; color:skyblue"><a href="{{ url_for('pdash.pdetails',pid = projt.proj_id)}}">Assigned Project : {{projt.proj_name}}</a></h4>
    </div>
    <div style="background-color: white;margin-left:0%;width:100%;background-color: skyblue;">
    <h4 class="head"style="color:black;padding:0.5%;font-family: 'Times New Roman', Times, serif;"> SKILL SET </h4>
    </div>
    {% for i in emp_skill %}
        {% for j in eskill %}
            {% if i.skill_id == j.skill_id %}
                <h2 style="font-family: 'Times New Roman', Times, serif;font-size: x-large;font-style:italic;font-weight:bold;"><a href = "{{url_for('pdash.sdetails', sid = j.skill_id)}}">{{j.skill_name}}</a></h2>
            {% endif %}
        {% endfor %}

   <div  style="margin-left:20% ;margin-top: 3%;"> Skill Level:{{i.skill_range}}<br><br></div>
   <div  style="margin-left:35%;margin-top: -1.8%;"> Project Lead Rating{{i.proj_lead_rating}}<br><a href = "{{url_for('edit.lrating', eid = i.emp_id , sid = i.skill_id )}}">Edit</a><br><br></div>
   <div style="margin-left: 58.5%;margin-top: -1.9%;">Self Rating:{{i.self_eval_rating}}<br><a href = "{{url_for('edit.srating', eeid = i.emp_id , ssid = i.skill_id )}}">Edit</a><br><br><br></div>
    <div style="margin-left: 78.5%;margin-top: -1.9%;">Final Rating :{{i.final_rating}}<br><br><br><br></div>

   <div style="margin-left: 97%;margin-top: -1.8%;">Experience :{{i.experience}} <br><br></div>
        {% for j in avgskill %}
            {% if i.skill_id == j.skill_id %}
                <h2 style="font-style: oblique; font-size: medium;margin-top:-1.8%">Average Skill Level:{{j.askill}}</h2>
      
            {% endif %}
        {% endfor %}
    {% endfor %}

      <h4 style="font: italic;font-size:large;background-color: skyblue;padding:0.5%;font-family: 'Times New Roman', Times, serif;"> CERTIFICATION </h4>
    {% for i in ecert %}
     <h4><a href={{i.cert_link}}>{{i.cert_name}}</a></h4>
    {% endfor %}
    <br>
    <p><a href="{{ url_for('pdash.allproj')}}">Explore All Projects</a> </p>
</body>
</html>
