<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
</head>
<body>
<h4>Details</h4>

     ID : {{employee.emp_id}}<br>
     Name : {{employee.emp_name}}<br>
     ROle : {{employee.emp_role}}<br>
     Experience : {{employee.experience}}<br>

     <h4><a href="{{ url_for('pdash.pdetails',pid = projt.proj_id)}}">Assigned Project : {{projt.proj_name}}</a></h4>

    <h4> SkillSet </h4>

    {% for i in emp_skill %}
        {% for j in eskill %}
            {% if i.skill_id == j.skill_id %}
                <h2>{{j.skill_name}}</h2>
            {% endif %}
        {% endfor %}
    Skill Level:{{i.skill_range}} <br><br>
    Project Lead Rating{{i.proj_lead_rating}} <br><br>
    Self Evaluation Rating:{{i.self_eval_rating}} <br><br>
    Experience in this Technology:{{i.experience}} <br><br>
        {% for j in avgskill %}
            {% if i.skill_id == j.skill_id %}
                <h2>Average Skill Level:{{j.askill}}</h2>
            {% endif %}
        {% endfor %}
    {% endfor %}

      <h4> Certification </h4>

    {% for i in ecert %}
     <h4><a href={{i.cert_link}}>{{i.cert_name}}</a></h4>

    {% endfor %}


</body>
</html>