<!DOCTYPE html>
<html>
<title>Other Projects</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <img src="https://media-exp1.licdn.com/dms/image/C510BAQEdUdCiIiDiTQ/company-logo_200_200/0?e=2159024400&v=beta&t=ASmV3FDXKuTfeeBwuIV8wK2hhT2Uko-x1dR5OUs-ZtM" style="width: 9.5%; height: 8%;"></img>
    <div style="margin-left:10%; height: 20%;">
    <b> <h4 style="background-color:skyblue;margin-top: -10%;padding:0.5%;font-family: 'Times New Roman', Times, serif; text-align: center;">OTHER PROJECTS</h4></b>

        <p>{% for i in project %}
            <br><br><br><br> <h2 style="font-family: 'Times New Roman', Times, serif;font-size: x-large;font-style:italic;font-weight:bold;">{{i.proj_name}}<br>
                                     <img src="/static/{{i.proj_image}}" alt="emp-img" height="200" width="190" class="img-rounded"></a></h4>
</h2>
            {% for j in proj_skill %}
                {% if i.proj_id == j.proj_id %}
                    {% for k in skill %}
                        {% if j.skill_id == k.skill_id %}
                            <br>{{k.skill_name}}<br>
                                         <img src="/static/{{k.skill_image}}" alt="emp-img" height="200" width="190" class="img-rounded"></a></h4>

                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% endfor %}
        </p>
    </div>

</body>
</html>
