<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Project ID :{{project.proj_id}}</h1>
        <h1>Project Name:{{project.proj_name}}</h1>

        {% for i in proj_skill %}
            {% for j in pskill %}
                {% if i.skill_id == j.skill_id %}
                    <h2>{{j.skill_name}}</h2>
                {% endif %}
            {% endfor %}
            <h3>Skill ID:{{i.skill_id}}</h3>
            <h3>Skill Level:{{i.skill_range}}</h3>
            <h3>Project Rated Skill:{{i.proj_rated_rating}}</h3>
            <h3>Project Current Skill:{{i.proj_prsent_skill_rating}}</h3>
        {% endfor %}

        <h1>Project Team</h1>
        {% for i in empl %}
            <p><a href="{{ url_for('pdash.edetails',eid = i.emp_id)}}">{{i.emp_name}}</a> </p>
        {% endfor %}


</body>
</html>