<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="https://media-exp1.licdn.com/dms/image/C510BAQEdUdCiIiDiTQ/company-logo_200_200/0?e=2159024400&v=beta&t=ASmV3FDXKuTfeeBwuIV8wK2hhT2Uko-x1dR5OUs-ZtM" style="width: 9.5%; height: 6%;" style="width: 9.5%;"></img>
    <div style="margin-left:10%; height: 20%;">
        <h4 style="background-color:skyblue;margin-top: -10%;height: 5%;font-family: 'Times New Roman', Times, serif;font-size:x-large;">DETAILS</h4>
        <h1 style="font-size: medium;">Project ID :{{project.proj_id}}</h1>
        <h1 style="font-size: medium;margin-left: 35%;margin-top: -2%;">Project Name:{{project.proj_name}}</h1>

         <div style="background-color: white;margin-left:-11%;widows: 100%;;background-color: skyblue;height: 5%;margin-top: 5%;padding-left:0%;">
             <h4 class="head" style="color:black;font-family: 'Times New Roman', Times, serif;font-size: x-large;background-color:skyblue;"> SKILL SET </h4>
         </div>
        {% for i in proj_skill %}
            {% for j in pskill %}
                {% if i.skill_id == j.skill_id %}
                    <h2 style="font-family: 'Times New Roman', Times, serif;font-size: x-large;font-style:italic;font-weight:bold;">{{j.skill_name}}</h2>
                {% endif %}
            {% endfor %}
            <h3 style="margin-top:1.5%;">Skill ID:{{i.skill_id}}</h3>
            <h3 style="margin-left: 16%;margin-top: -1.5%;">Skill Level:{{i.skill_range}}</h3>
            <h3 style="margin-left: 36%;margin-top: -1.5%;">Project Rated Skill:{{i.proj_rated_rating}}</h3>
            <h3 style="margin-left: 65%;margin-top: -3%;">Project Current Skill:{{i.proj_prsent_skill_rating}}</h3>
        {% endfor %}
        <div style="background-color: white;margin-left:-11%;widowss: 100%;;background-color:skyblue;height: 5%;margin-top: 5%;padding-left:0%;">
            <h4 class="head" style="color:black;font-family: 'Times New Roman', Times, serif;font-size: x-large;"> PROJECT TEAM  </h4>
            </div>
        {% for i in empl %}
            <p><a href="{{ url_for('pdash.edetails',eid = i.emp_id)}}">{{i.emp_name}}</a> </p>
        {% endfor %}


</body>
</html>