<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <br>{{emp_filter_form.skill.label}}
    <br>{{emp_filter_form.skill}}
    <br>{{emp_filter_form.exp.label}}
    <br>{{emp_filter_form.exp}}
    <br><input type = "submit">
</form>
    <script>
        let skill_select = document.getElementById("skill")
        let exp_select = document.getElementById("exp");

        skill_select.onchange = function(){
            skill = skill_select.value;
            fetch('/efilter/' + skill).then(function(response){
                response.json().then(function(data){
                    console.log(data)
<!--                    alert(data['experience'][0]['exp']);-->
<!--                    alert(data['experience'][1]['exp']);-->
<!--                    alert([data['experience'][i]['exp'] for i in range(len(data))])-->
                    let optionHTML = '';
                    for(let exp of data.experience){
                        optionHTML += '<option value="' + exp.exp + '">' + exp.exp + '</option>';
                    }
                    exp_select.innerHTML = optionHTML;
                });
            });
        }
    </script>

    {% if emp_skill %}
        {% for i in emp_skill %}
            {% for j in employee %}
                {% if i.emp_id == j.emp_id %}
                    <p><a href="{{ url_for('pdash.edetails',eid = i.emp_id)}}">{{j.emp_name}}</a> </p>
                {% endif %}
            {% endfor %}
        {% endfor%}
    {% endif %}
</body>
</html>